<div layout="row" layout-sm="column" layout-md="column">
<!--Menu para seleccionar cursos  flex 25 big flex 100 sm-md-->
<menu-cursos></menu-cursos>
<!--Menu para seleccionar cursos  flex 25 big flex 100 sm-md-->


    <div flex flex-order="2" layout-padding>

<!--cabecera de control para lista de estudiantes-->
        <div flex class="md-whiteframe-z1 md-2-line itemList">
            <div layout="row"  layout-align="start">             
                <p flex="50" flex-sm="15" flex-md="40"><span hide-sm> Lista del Curso : </span> {{Actual}}</p>
                <md-button flex data-toggle="modal" data-target="#NewStudent"><span hide-sm hide-md>Estudiante</span> <i class="fa fa-user-plus"></i></md-button>               
                <md-button flex="15" flex-sm="35" flex-md="20"ng-click="monda=!monda">Curso <i class="fa fa-caret-down fa-lg"></i></md-button>
                <md-button flex="15" flex-sm="40" flex-md="25">Ordenar <i class="fa fa-caret-down fa-lg"></i></md-button>            
            </div>
        </div>
<!--cabecera de control para lista de estudiantes-->

        <md-list>
            <md-list-item class="md-whiteframe-z1 md-2-line itemList" ng-repeat="estudiante in estudiantes" data-toggle="modal" data-target="#detalleE" ng-click="actEstudiante(estudiante)">         
                <img ng-src="{{estudiante.fotoUrl}}?{{$index}}" class="md-avatar" alt="{{estudiante.Nombres}}">      <div class="md-list-item-text">
                    <h3>{{estudiante.Nombres}}</h3>
                    <h4>T.I {{estudiante.NumeroDoc}}</h4>
                </div>
              
              <md-divider></md-divider>
            </md-list-item>
        </md-list>       
    </div>    
</div>
<modal-detalle></modal-detalle>
<modal-newstudent></modal-newstudent>






 