<div layout="row" layout-sm="column">

    <div flex="25" flex-order="1" flex-sm="100" layout-padding>
        <div layout="row" layout-wrap>
            <md-button flex="33" flex-sm="25" ng-repeat="cur in cursos" ng-click="selectCurso(cur)">{{cur.curso}}</md-button>
        </div>  
    </div>

    <div flex flex-order="2" layout-padding>
        <div layout="row" layout-sm="column" layout-align="space-between center">
            <div flex="30" flex-sm="100">
                <p> Lista del Curso : {{Actual}}</p>
            </div>
            <md-input-container flex="70" flex-sm="100">
                <label>buscar</label>
                <input ng-model="search">           
            </md-input-container>
        </div>
        <md-list>
            <md-item ng-repeat="estudiante in estudiantes">
                <md-item-content class="md-whiteframe-z1 md-2-line itemList">

                    <div class="md-tile-left">
                        <img ng-src="{{estudiante.fotoUrl}}?{{$index}}" class="face" alt="{{estudiante.Nombres}}">
                    </div>

                    <div class="md-tile-content">
                        <h3>{{estudiante.Nombres}}</h3>
                        <h4>T.I {{estudiante.NumeroDoc}}</h4>
                    </div>

                    <div class="md-tile-right">
                        
                    </div>

                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
       
      
    </div>
    
</div>



 